@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aktiv Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/aktiv-grotesk/AktivGrotesk-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Aktiv Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/aktiv-grotesk/AktivGrotesk-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Domaine Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/domaine-display/domaine-display-bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Domaine Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/domaine-display/domaine-display-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Haikus Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/haikus-script/HaikusScriptv09Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Haikus Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/haikus-script/HaikusScriptv09Regular.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
